<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KAKAOAPIKEY</key>
	<string>420e694ef896b8840de04e9c2d90d16b</string>
	<key>KOFICAPIKEY</key>
	<string>84be56724fec6406422449cf1f43afc2</string>
</dict>
</plist>
